<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="HLTextureTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <HLTextureTools.Properties.Settings>
            <setting name="transparent_textures" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="tile_image" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="anim_speed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="tl_size_1" serializeAs="String">
                <value>Unchecked</value>
            </setting>
            <setting name="tl_size_2" serializeAs="String">
                <value>Checked</value>
            </setting>
            <setting name="tl_size_3" serializeAs="String">
                <value>Unchecked</value>
            </setting>
        </HLTextureTools.Properties.Settings>
    </userSettings>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
